*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.center{
    width: 100%;
    height: 720px;
    background-color: #f0f2f5;
}

.content img{
    position: relative;
    left: 360px;
    top: 100px;
}

.content .text{
    font-size: 27px;
    width: 400px;
    position: relative;
    left: 390px;
}

.footer{
    font-size: 15px;
    position: relative;
    left: 1010px;
    top: 30px;
    margin-top: 130px;
}


.form{
    color: #1c1e21;
    position: relative;
    background-color: white;
    width: 400px;
    height: 400px;
    top: -410px;
    left: 1000px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    line-height: 1.34;
}
/*
.form-input1, .form-input2, .form-input3{
    width: 364px;
    height: 52px;
    margin: 10px;
    padding: 6px;
    font-size: 18px;
    text-align: left;
    border: 1px solid rgb(211, 210, 210);
}*/

.form-input1 input{
    width: 364px;
    height: 52px;
    margin: 10px;
    padding: 6px;
    font-size: 18px;
    text-align: left;
    border: 1px solid rgb(211, 210, 210);
}

.form-input2 input{
    width: 364px;
    height: 52px;
    margin: 10px;
    padding: 6px;
    font-size: 18px;
    text-align: left;
    border: 1px solid rgb(211, 210, 210);
}

.form-input3 input{
    cursor: pointer;
    color: white;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    margin-top: 10px;
    margin-left: 25px;
    padding: 0 16px;
    width: 332px;
}

.form-input3 input:hover{
    background-color: #1464ce;
}

.form hr{
    position: relative;
    top: 50px;
    left: 25px;
    width: 332px;
    border: 0.5px solid rgb(211, 210, 210);
}

.form-input4 input{
    cursor: pointer;
    color: white;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    line-height: 48px;
    margin-top: 90px;
    margin-left: 73px;
    padding: 0 16px;
    width: 232px;
}

.form-input4 input:hover{
    background-color: #328d1f;
}

.form p{
    position: relative;
    font-size: 15px;
    color: #1464ce;
    top: 25px;
    left: 117px;
}
